/* .css1{
  background-color:rgb(255, 255, 255);
  font-size:50px;
  font-family: georgia;
  font-style:italic;
  font-weight:bold;
  color:rgb(0, 0, 0);
  text-shadow: 2px 2px 8px #FF0000;
} */

  h2 {
    margin-top: 15px;
    font-weight: bold;
  }
  
  /*  .announcementbg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-image: url('img/utmhill.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1; 
}*/