.text {
  	flex: 1;
  	position: relative;
  	line-height: 130%;
  	font-weight: 600;
}
.content {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px 12px;
}
.cell {
  	align-self: stretch;
  	width: 44px;
  	background-color: rgba(0, 0, 0, 0.06);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell1 {
  	align-self: stretch;
  	width: 84px;
  	background-color: rgba(0, 0, 0, 0.06);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell2 {
  	align-self: stretch;
  	width: 198px;
  	background-color: rgba(0, 0, 0, 0.06);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell3 {
  	align-self: stretch;
  	width: 63px;
  	background-color: rgba(0, 0, 0, 0.06);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell4 {
  	align-self: stretch;
  	width: 70px;
  	background-color: rgba(0, 0, 0, 0.06);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
}
.text5 {
  	flex: 1;
  	position: relative;
  	line-height: 130%;
  	font-weight: 600;
  	white-space: pre-wrap;
}
.cell5 {
  	align-self: stretch;
  	width: 75px;
  	background-color: rgba(0, 0, 0, 0.06);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
}
.cell6 {
  	align-self: stretch;
  	width: 73px;
  	background-color: rgba(0, 0, 0, 0.06);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
}
.row {
  	align-self: stretch;
  	background-color: rgba(255, 255, 255, 0);
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.text7 {
  	flex: 1;
  	position: relative;
  	line-height: 130%;
}
.cell7 {
  	width: 44px;
  	background-color: rgba(255, 255, 255, 0);
  	height: 46px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell8 {
  	align-self: stretch;
  	width: 84px;
  	background-color: rgba(255, 255, 255, 0);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell9 {
  	align-self: stretch;
  	width: 198px;
  	background-color: rgba(255, 255, 255, 0);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell10 {
  	align-self: stretch;
  	width: 63px;
  	background-color: rgba(255, 255, 255, 0);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
}
.row1 {
  	align-self: stretch;
  	background-color: rgba(255, 255, 255, 0);
  	border-bottom: 1px solid #e0e0e0;
  	box-sizing: border-box;
  	height: 43px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.content11 {
  	width: 120px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px 12px;
  	box-sizing: border-box;
}
.cell11 {
  	width: 44px;
  	background-color: rgba(255, 255, 255, 0);
  	height: 45px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell23 {
  	align-self: stretch;
  	width: 44px;
  	background-color: rgba(255, 255, 255, 0);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.cell30 {
  	align-self: stretch;
  	width: 70px;
  	background-color: rgba(255, 255, 255, 0);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
}
.cell31 {
  	align-self: stretch;
  	width: 67px;
  	background-color: rgba(255, 255, 255, 0);
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
}
.row8 {
  	align-self: stretch;
  	background-color: rgba(255, 255, 255, 0);
  	border-bottom: 1px solid #d9d9d9;
  	box-sizing: border-box;
  	height: 43px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.table {
  	position: absolute;
  	top: 173px;
  	left: 0px;
  	border-radius: 4px;
  	background-color: #fff;
  	width: 778px;
  	height: 406px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.courses-page-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #37566b;
  	width: 375px;
  	height: 52px;
}
.vector-icon {
  	position: absolute;
  	height: 2.25%;
  	width: 6.4%;
  	top: 2.7%;
  	right: 90.4%;
  	bottom: 95.05%;
  	left: 3.2%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	cursor: pointer;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  	border-radius: 8px;
  	background-color: #fff;
  	width: 346px;
  	height: 37px;
}
.rectangle-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 346px;
  	height: 37px;
}
.search-subject-name {
  	position: absolute;
  	top: 5px;
  	left: 22px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 257px;
  	height: 26px;
}
.vector-icon1 {
  	position: absolute;
  	height: 43.24%;
  	width: 4.62%;
  	top: 27.03%;
  	right: 4.34%;
  	bottom: 29.73%;
  	left: 91.04%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-parent {
  	position: absolute;
  	top: 94px;
  	left: 15px;
  	width: 346px;
  	height: 37px;
  	font-size: 15px;
  	color: rgba(159, 159, 159, 0.64);
}
.group-item {
  	position: absolute;
  	top: 31px;
  	left: 285px;
  	border-radius: 8px 0px 0px 8px;
  	background-color: #fff;
  	border: 1px solid #b9b9b9;
  	box-sizing: border-box;
  	width: 72px;
  	height: 31px;
  	transform:  rotate(-180deg);
  	transform-origin: 0 0;
}
.group-inner {
  	position: absolute;
  	top: 0px;
  	left: 168px;
  	background-color: #fff;
  	border: 1px solid #b9b9b9;
  	box-sizing: border-box;
  	width: 46px;
  	height: 31px;
}
.rectangle-div {
  	position: absolute;
  	top: 0px;
  	left: 123px;
  	background-color: #fff;
  	border: 1px solid #b9b9b9;
  	box-sizing: border-box;
  	width: 46px;
  	height: 31px;
}
.group-child1 {
  	position: absolute;
  	top: 0px;
  	left: 78px;
  	background-color: #e0e0e0;
  	border: 1px solid #b9b9b9;
  	box-sizing: border-box;
  	width: 46px;
  	height: 31px;
}
.group-child2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 8px 0px 0px 8px;
  	background-color: #fff;
  	border: 1px solid #b9b9b9;
  	box-sizing: border-box;
  	width: 79px;
  	height: 31px;
}
.div {
  	position: absolute;
  	top: 8px;
  	left: 177px;
  	display: inline-block;
  	width: 28px;
  	height: 12px;
}
.div1 {
  	position: absolute;
  	top: 8px;
  	left: 132px;
  	display: inline-block;
  	width: 28px;
  	height: 12px;
}
.div2 {
  	position: absolute;
  	top: 8px;
  	left: 87px;
  	display: inline-block;
  	width: 28px;
  	height: 12px;
}
.next {
  	position: absolute;
  	top: 8px;
  	left: 235px;
  	text-align: left;
  	display: inline-block;
  	width: 28px;
  	height: 12px;
}
.previous {
  	position: absolute;
  	top: 8px;
  	left: 15px;
  	text-align: left;
  	display: inline-block;
  	width: 50px;
  	height: 12px;
}
.rectangle-parent {
  	position: absolute;
  	top: 612px;
  	left: 45px;
  	width: 285px;
  	height: 31px;
  	text-align: center;
  	color: #454545;
}
.courses-page {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 667px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 12px;
  	color: #000;
  	font-family: Inter;
}

