/* ---------------------- Login Page ----------------------------------- */
/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#ecf0f3;
}

.header {
    position: absolute;
    top: -1vh;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    z-index: -5;
}

.title {
    position: absolute;
    top: 20%;
    left: 85%;
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #fff;
}

.utm-logo {
    position: absolute;
    top: 30vh;
    align-items: center;
    width: 350px;
    margin: auto;
}

.utm-logo img {
    width: 100%;
    height: 15px;
    object-fit: cover;  
}

.wrapper {
    max-width: 550px;
    min-height: 500px;
    margin: 150px auto;
    padding: 40px 30px 30px 30px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 13px 13px 20px #e3e3e3, -13px -13px 20px #e3e3e3;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.forgot-password {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    color: #35556a;
    display: flex;
    text-align: right;
    width: 150px;
    height: 32px;
}

.form-field input {
    position: relative;
    display: inline-block;
    font-size: 1.1rem;
    box-sizing: border-box;
    background: none;
    width: 100%;
    border: 1px solid rgba(159, 159, 159, 0.64);
    outline: none;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.wrapper .form-field {
    margin-bottom: 20px;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #37566B;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}



@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}